<div class="bg-zinc-100 w-dvw h-full p-6 flex flex-col gap-6 justify-start align-center">
  @if (profile(); as profile) {

  <!-- header -->
  <div class="flex flex-row justify-start align-center gap-4 mb-6">
    <h1 class="font-bold text-3xl">Taska</h1>
  </div>

  <p data-testid="empty-message">Les données de l'utilisateur n'ont pu être récupérées.</p>
  <!-- user top -->
  <div class="flex flex-row gap-6 mb-6">
    <div class="h-[80px] w-[80px] rounded-full overflow-hidden outline-4 outline-foreground">
      <img src="/profileImg.jpg" alt="profile-picture" class="object-cover" />
    </div>
    <div class="flex flex-col">
      <p>Bonjour,</p>
      <p class="font-bold text-2xl" data-testid="name-employee">
        {{ profile?.firstName }} {{ profile?.lastName }}
      </p>
      <div class="flex flex-row align-center justify-center gap-1">
        <span class="pt-[2px] material-symbols-outlined text-blue-600 dark:text-blue-400"
          style="font-size:16px;">beenhere</span>
        <span class="text-xs">Employé polyvalent</span>
      </div>
    </div>
  </div>

  <!-- my-informations -->
  <app-features-list [features]="privateData()" sectionTitle="Mes données"></app-features-list>

  <!-- my services -->
  <app-features-list [features]="genericData()" sectionTitle="Mes services"></app-features-list>
  }
</div>
