<div class="bg-zinc-100 w-dvw min-h-screen h-full p-6 flex flex-col gap-6 justify-start align-center">

  <div class="max-w-180 w-full mx-auto">
    <div class="flex flex-row justify-between align-center gap-4 mb-6">
      <h1 class="logo">Taska</h1>

      @if (!profile()?.isLoading && profile()?.data) {
        <button class="cursor-pointer" (click)="onLogout()">
          <span class="material-symbols-outlined text-red-400 rounded-lg p-1
            hover:bg-white hover:text-red-500 hover:outline-foreground hover:outline-2
            transition-all ease-in-out duration-250" style="font-size: 32px;">logout</span>
        </button>
      }
    </div>

    @if (profile()?.isLoading) {
        <div class="w-full h-full flex gap-2 justify-center align-center mt-24">
          <div class="loading"></div>
          <div
            class="loading [animation-delay:-.3s]"
          ></div>
          <div
            class="loading [animation-delay:-.5s]"
          ></div>
        </div>
    }

    @if (!profile()?.isLoading && profile()?.error) {
      <div class="w-xs md:w-[50%] flex flex-row align-center justify-center self-center mt-16 gap-6 mb-6 bg-white p-6 rounded-4xl">
        <p data-testid="empty-message">Les données de l'utilisateur n'ont pu être récupérées.</p>
      </div>
    }

    @if (profile()?.data; as profile) {
    <main class="max-w-180 flex flex-col justify-center align-center">
      <div class="max-w-full flex flex-row align-center justify-start gap-6 mb-6 bg-white p-6 rounded-4xl">
        <div class="h-20 w-20 rounded-full overflow-hidden outline-2 outline-foreground">
          <img loading="lazy" [src]="profile.profileImg" alt="profile-picture" class="object-cover w-full -translate-y-6" />
        </div>
        <div class="flex flex-col text-2xl">
          <p>Bonjour,
            <span class="font-black" data-testid="name-employee">
              {{ profile?.firstName }} {{ profile?.lastName }}
            </span>
          </p>
          <div class="flex flex-row align-center justify-start gap-1">
            <span class="pt-0.5 material-symbols-outlined text-blue-600 dark:text-blue-400"
              style="font-size:16px;">beenhere</span>
            <span class="text-xs">Employé polyvalent</span>
          </div>
        </div>
      </div>

      <app-features-list [features]="privateData()" sectionTitle="Mes données"></app-features-list>
      <app-features-list [features]="genericData()" sectionTitle="Mes services"></app-features-list>
    </main>

    }
  </div>

</div>
