.toggle-role:before {
    content: '';
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: scale(1.1);
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: .2s ease-in-out;
  }

  .toggle-role:checked {
    @apply: bg-indigo-400;
    background-color: #00a6f4;
  }

  .toggle-role:checked:before {
    left: 1.25rem;
  }
