<div class="h-45 w-40 rounded-4xl bg-white p-4 flex flex-col gap-2 align-center justify-start" data-testid="app-card">
  <div class="w-7.5 h-7.5 p-4 mt-1 rounded-lg flex items-center justify-center" [ngClass]="bgClasses()" data-testid="card-color">
    <span class="material-symbols-outlined text-lg" [ngClass]="textClasses()" data-testid="card-icon">{{ icon() }}</span>
  </div>
   <p class="font-bold text-sm" data-testid="card-title">{{ title() }}</p>
   @for (data of data(); track data) {
     <p class="text-card" [ngClass]="dataTextClasses()" data-testid="card-data">{{ data }}</p>
   }

  @if (details()) {
    <p class="text-xs" data-testid="card-details">{{ details() }}</p>
  }

  @if (path() && labelPath()) {
    <a class="text-xs cursor-pointer" (click)="onRedirectToFeaturePath()" data-testid="card-path">
      <span class="text-card" [ngClass]="dataTextClasses()" data-testid="card-label-path">{{ labelPath() }}</span>
    </a>
  }

</div>
